<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649398651254-39mmeakc59ak4srko04vh7opqjdiq7hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649398651254-39mmeakc59ak4srko04vh7opqjdiq7hv</string>
	<key>API_KEY</key>
	<string>AIzaSyA2OxHZn-7zUITe1-5ES4NMVB61rQKO8k0</string>
	<key>GCM_SENDER_ID</key>
	<string>649398651254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjandrew.Ticketer-Programming-Project</string>
	<key>PROJECT_ID</key>
	<string>mytickets-1fd40</string>
	<key>STORAGE_BUCKET</key>
	<string>mytickets-1fd40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649398651254:ios:ce0c8d63a7527000f75257</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>DATABASE_URL</key>
	<string>https://mytickets-1fd40.firebaseio.com</string>
</dict>
</plist>
